{% extends 'template.html' %}
{% block content %}
<div class = 'hometitlecont'>
  <h1>What is this application about ?</h1>
</div>


<p>This application is used track the hardware statistics of the running server it is installed on</p>
<p>This data is then stored in a MYSQL database  for doing inferences lateron </p>
<h2>What do we track ?</h2>
<ul style="list-style-type:circle;">
  <li>CPU usage</li>
  <li>RAM usage</li>
  <li>Bytes recieced over some network interface</li>
  <li>The tempreture inside of Cape town international airport </li>
</ul>
<h2>Here will be buttons to start the given services</h2>
<div class="btns">
  <form>
      <a href=# id=cpu ><button class='btn btn-default'>CPU services</button></a>
  </form>
  <form>
      <a href=# id=ram ><button class='btn btn-default'>RAM services</button></a>
  </form>
  <form>
      <a href=# id=bytes ><button class='btn btn-default'>Bytes services</button></a>
  </form>
  <form>
      <a href=# id=temp ><button class='btn btn-default'>Tempreture services</button></a>
  </form>
</div>
<h2>Use the following to stop and reset services</h2>

<form>
    <a href=# id=stop ><button class='btn btn-default'>Stop All</button></a>
</form>
<form>
    <a href=# id=reset ><button class='btn btn-default'>Reset All</button></a>
</form>

{% endblock %}
