{% extends 'template.html' %}
{% block content %}
<div class = 'hometitlecont'>
  <h1>What is this application about ?</h1>
</div>


<p>This application is used track the hardware statistics of the running server it is installed on</p>
<p>This data is then stored in a MYSQL database  for doing inferences lateron </p>
<h2>What do we track ?</h2>
<ul style="list-style-type:circle;">
  <li>CPU usage</li>
  <li>RAM usage</li>
  <li>Bytes recieced over some network interface</li>
  <li>The tempreture inside of Cape town international airport </li>
</ul>
<h2>Here will be buttons to start the given services</h2>
<div class="btns">
    <form action="/cpu" method="post">
        <input type="submit" value="CPU Service">
    </form>
	
	<form action="/ram" method="post">
        <input type="submit" value="Ram service">
    </form>
	
	<form action="/bytes" method="post">
        <input type="submit" value="Bytes service">
    </form>
	
	<form action="/temp" method="post">
        <input type="submit" value="Tempreture Service">
    </form>
	

{% endblock %}
